$canvas_color: rgb(27, 112, 248);
$kite_color: rgb(236, 181, 1, 0.9);
$tail_color: rgb(0, 114, 9);
$stick_color: rgba(218, 160, 0);
$exhauster_color: rgb(34, 34, 34);
$kite_height: 200px;
$kite_width: 200px;
$tail_height: 200px;
$tail_width: 200px;
$jointer_height: 20px;
$exhauster_fire_width: 20px;
$exhauster_height: 50px;
$exhauster_width: 200px;
$exhauster_pos_y: 120px;
$second_exhauster_space: 20px;
